.status-moving-moving {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--state-moving);
}
.status-moving-stopped {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--state-stopped);
}

.indicador-evaporacion{
    
}