@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #fff;
  --background-gray: #8a8888;
  --background-light-gray: #e4e4e4;
  --text-dark: #000;
  --text-light: #fff;
  --color-primary: #4980cc;
  --state-stopped: #e13e5b;
  --state-moving: #278e06;
  --rinde-humedo: #218119;
  --rinde-seco: #B3D838;
}

body {
  color: var(--text-color);
  background: var(--background-light-gray);
}
